.container {
}

.editor {
  display: flex;
  gap: 20px;
  height: 700px;
  position: relative;
}

.select {
  margin-bottom: 50px;
  padding: 10px 20px;
  margin-left: 50px;
  width: max-content;
  text-transform: capitalize;
}

.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addButton {
  border-color: #1a8917;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 40;
  width: 100%;
  left: 50px;
}

.label {
  cursor: pointer;
}

.input {
  padding: 50px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  color: var(--textColor);
}

.input::placeholder {
  color: var(--softTextColor);
}

.textArea {
  width: 100%;
  /* color: var(--textColor); */
}

.publish {
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.39);
}

@media screen and (max-width: 640px) {
  .publish {
    top: 100px;
  }

  .input {
    font-size: 30px;
  }

  .textArea {
    font-size: 18px;
  }
}
