.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

/* .social {
  display: flex;
  gap: 10px;
  flex: 1;
} */

.logo {
  flex: 1;
  text-align: start;
  font-size: 36px;
  font-weight: bold;
}

.right {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    text-align: left;
  }
  .social {
    display: none;
  }
  .right {
    flex: 2;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}

@media screen and (max-width: 640px) {
  .links {
    justify-content: end;
  }
  .link {
    display: none;
  }
  .right {
    flex: 1;
  }
}
