.title {
  background-color: coral;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 50px;
  box-shadow: inset 0 8px 8px rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
  gap: 50px;
}
